@use '../../app/styles/variables' as *;
@use '../../app/styles/mixins' as *;

.board {
  @include flex(row, flex-start, flex-start, $space-5);
  overflow-x: auto;
  padding: $space-2 $space-1 $space-6;
  min-height: calc(100vh - $navbar-height - 120px);

  scrollbar-width: thin;
  scrollbar-color: $color-border transparent;

  &::-webkit-scrollbar {
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-border;
    border-radius: $radius-full;
  }
}
