@use '@/app/styles/variables' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: $space-4;
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  color: $color-text;
  margin-bottom: $space-2;
}
